.studentAdding {
    padding: 5%;
    background-color: white;
    border-radius: 7px;
}

.button-area {
    text-align: center;
}

.submit,
.close-modal {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1)
}

.submit {
    background-color: #171B65;
}

.close-modal {
    background-color: #00b3ee;
}

.submit > span {
    color: white;
}

.close-modal > span {
    color: white;
}

.add-expert,
.add-teacher {
    color: black;
}

.errorName,
.errorExperts,
.errorDate {
    color: red;
}

.groupName,
.incomingTest,
.firstName,
.entryScore,
.lastName,
.approve-select,
.engLevel,
.custom-expert {
    min-width: 180px;
    height: 30px;
    border: solid 2px black;
    border-radius: 2px;
    box-shadow: 0 0 10px black;
}

.custom-expert {
    display: none;
}

.row div .file-labels {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #171b65;
    border-radius: .5em;
    color: white;
    position: relative;
}

.row div .browse-photo,
.row div .browse-cv,
.row div .remove-photo,
.row div .remove-cv {
    display: none;
}

.row div .remove-photo,
.row div .remove-cv {
    height: 30px;
    vertical-align: middle;
}

.cv-file,
.photo-file {
    text-align: left;
    border: none;
    color: darkblue;
    display: none;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: .5em;
    background-color: transparent;
}